body {
    background-image: url('ian-dooley-hpTH5b6mo2s-unsplash.jpg');
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
}

h3 {
    
    padding: 20px;
     /* Semi-transparent background for better contrast */
    margin: 0;
    text-align: center;
}


.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.button {
    background-color: rgb(238, 230, 144);
    border: 2px solid black;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: medium;
    color: navy;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 23px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(255, 215, 112);
}

.navbar {
    background-color: white;
    border-radius: 3px;
    text-align: right;
    display: inline;
    margin: 16px;
    
    

    
    
}

.navbar1, .navbar2 {
    text-align:center;
    border-radius: 33px;

    padding:10px;
    

    
}

.navbar1 ul, .navbar2 ul {
    float: bottom;
    clear:both;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    text-align:center;
    
}

.navbar1 li, .navbar2 li {
    float: bottom;
    clear:both;
    margin: 13px 20px;
    text-align:center;
    background-color: #060404;
    border-radius: 3px;
    
}

.navbar1 li a, .navbar2 li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;

    
}

.navbar1 li a:hover, .navbar2 li a:hover {
    padding: 3px 3px;
    
    text-decoration: none;
    color: rgb(0, 255, 55)
    
}

a {
    text-decoration: none;
    color: rgb(120, 35, 117);
}

a:hover {
    color: rgb(255, 0, 123);
}

#blog1 {
    float: left;
    width: 34%;
    clear: right;
    border: 3px solid #4b1010;
    color: black;
    margin: 12px 3px;
    padding: 12px 3px;
    background-color: rgb(231, 203, 133);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    line-height: 1.6;
    position: relative;
}

#blog1 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-container {
    margin-top: 20px;
}

#blog2 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;  
}



#blog2 {
    float: right;
    width: 34%;
    clear: right;
    border: 3px solid #4b1010;
    color: black;
    margin: 12px 3px;
    padding: 12px 3px;
    background-color: rgb(231, 203, 133);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    line-height: 1.6;
    position: relative;
}
#author {
    text-align: right;
    font-style: italic;
    color: #e11a1a;
    margin-top: 10px;
}
